.make-meme {
    background-color: rgb(243, 237, 237);
    margin: 0;
    padding: 25px;
    text-align: center;
}

.inputBox {
    width: 70%;
    height: 2%;
    padding: 12px 20px;
    margin-left: 10%;
    box-sizing: border-box;
}

.labels {
    width: 150px;
    display: inline-block;
}

#submit-button {
    background-color: rgb(63, 91, 214);
    border: none;
    color: white;
    padding: 15px 32px;
    position: relative;
    left: 40%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#meme-results {
    position: relative;
    text-align: center;
}

.memeContainer {
    position: relative;
    text-align: center;
    color: white;
    float: left;
    margin: 50px;
    height: 200px;
    width: 200px;
    z-index: 0;
}

.newImg {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 3px, solid, grey;
}

.topText {
    position: absolute;
    top: 15px;
    margin: auto 0;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 70px;
    font-size: 20px;
    text-align: center;
    color: white;
    word-wrap: break-word;
    z-index: 1;
}

.btmText {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    word-wrap: break-word;
    z-index: 1;
}

.removeBtnDiv {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.25s;
}

.removeBtnDiv:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.25s;
}

.removeBtnDiv>span {
    color: red;
    font-size: 40px;
    z-index: 2;
    opacity: 0.4;
    pointer-events: none;
}